* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #f4f4f4;

	h1 {
		text-align: center;
	}

	.login,
	.register {
		background: #323330;
		padding: 2rem;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			text-align: center;
			color: #323330;
			margin-bottom: 2rem;
		}

		.login-form,
		.register-form {
			background: #f0db4f;
			width: 40rem;
			margin: auto;
			padding: 2rem 6rem;
			font-size: 18px;

			input {
				margin: 1rem 0rem;
				padding: 1rem 0.5rem;
				width: 100%;
				border: none;
				background: #ffffff;
				border-radius: 0.5rem;
				font-size: 16px;
			}

			button {
				padding: 1rem 2rem;
				margin: 2rem 0rem;
				width: 100%;
				border: none;
				background: #323330;
				color: #f4f4f4;
				border-radius: 0.5rem;
				font-size: 18px;
			}

			button:hover {
				color: #f0db4f;
				font-weight: bold;
				cursor: pointer;
			}

			p {
				text-align: center;
			}
		}
	}

	// landing-page.ejs
	.landing-page {
		display: flex;
		width: 100vw;

		.left,
		.right {
			height: 100vh;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.left {
			background: #f0db4f;
		}
		.right {
			background: #323330;
		}
		.left button,
		.right button {
			font-size: 24px;
			padding: 1rem;
			width: 10rem;
			border: none;
			border-radius: 0.5rem;
		}
		.left button {
			background: #323330;
			color: #f0db4f;
		}
		.right button {
			background: #f0db4f;
			color: #323330;
		}
		.left button:hover,
		.right button:hover {
			cursor: pointer;
			transform: translateY(-0.3rem);
			transition: 0.5s ease-in-out;
			font-weight: bold;
		}
	}
}
