<!DOCTYPE html>
<html lang="en">
	<%- include('../includes/head.ejs')%>
	<body>
		<section class="journal-head">
			<h1>Welcome</h1>
		</section>
		<section class="journal-content">
			<% for (let i = 0; i < allEntries.length; i++) { %>
			<div><%= allEntries[i]%></div>
			<%}%>
		</section>
		<section class="add-content"></section>
	</body>
</html>
