<!DOCTYPE html>
<html lang="en">
	<%- include('../includes/head.ejs')%>
	<body>
		<section class="landing-page">
			<div class="left">
				<a href="login"><button type="button">Login</button></a>
			</div>
			<div class="right">
				<a href="register"><button type="button">Register</button></a>
			</div>
		</section>
	</body>
</html>
