<!DOCTYPE html>
<html lang="en">
	<%- include('../includes/head.ejs')%>
	<body>
		<section class="login">
			<form class="login-form" method="POST" action="/login">
				<h1><%=title%></h1>
				<label for="email">Email</label><br />
				<input type="email" required name="email" /><br />
				<label for="password">Password</label><br />
				<input type="password" required name="password" /><br />
				<button type="submit">Login</button><br />
				<p>New here? <a href="register">Register</a></p>
			</form>
		</section>
	</body>
</html>
