<!DOCTYPE html>
<html lang="en">
	<%- include('../includes/head.ejs')%>
	<body>
		<section class="register">
			<form class="register-form" method="POST" action="/register">
				<h1><%=title%></h1>

				<label for="name">Name</label><br />
				<input type="text" required name="name" /><br />

				<label for="email">Email</label><br />
				<input type="email" required name="email" /><br />

				<label for="password">Password</label><br />
				<input type="password" required name="password" id="password" /><br />

				<label for="conf-password">Confirm Password</label><br />
				<input type="password" required id="conf-password" /><br />

				<button type="submit">Register</button><br />

				<p>Already registered? <a href="login">Login</a></p>
			</form>
		</section>
	</body>
</html>
